<!DOCTYPE html>
<html>
  <head>
    <title>Thom.is</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css" />
    <%= stylesheet_link_tag "home" %>
  </head>
  <body>
  <h1>I'm Thom.</h1>
  <p></p>
  <h2>Connect</h2>
  <ul>
    <li>Twitter: <a href="http://twitter.com/#!/thommahoney">@thommahoney</a></li>
    <li>GitHub: <a href="http://github.com/thommahoney">thommahoney</a></li>
    <li></li>
  </ul>
  <h2>Projects</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  </body>
</html>
