
body div#main {
  text-align: center;
}

body div#main div#content h2 {
  position: relative;
  top: 20px;
}

body div#main div#content a#stats {
  position: relative;
  top: -45px;
  left: 360px;
}

body div#main div#content div.field {

}

body div#main div#content div.field input {
  width: 700px;
  height: 32px;
  margin: 10px;
  outline: none;
  font-size: 24px;
  color: #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body div#main div#content div.field input.dark {
  color: #3d3d3d;
}