<!DOCTYPE html>
<html>
<head>
  <title>Thom.is URL Shortener</title>
  <%= include_stylesheets :links %>
  <%= include_javascripts :links %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="content">
<%= yield %>
  </div>
</body>
</html>
